body {
  background-color: lightblue;
  padding: 0px 0px;
  margin: 0px;
  font-family:helvetica;
}

h1 {
  color: red;

}
h2 {
	color: red;
}
h3 {
	color: red;
}
p {
	margin-left: 40px;
}
.header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	background-color: white;
}
.headerlogo{
float: left;
width: 25%;
}
.headerlogo img{
	padding-left: 40px;
	max-width: 100%;
}
/* The different headertext selectors below are what changes the header background image between pages */
.headertextindex {
	background-image: url("../images/city.jpg");
	background-size: 100%;
	background-position: 50%30%;
float: right;
height: 105px;
width: 75%;
line-height:105px;
text-align: center;

color:black;
font-size: 40px;
font-family: helvetica;
}
.headertextproducts {
	background-image: url("../images/tools.jpg");
	background-size: 120%;
	background-position: 50%30%;
float: right;
height: 105px;
width: 75%;
line-height:105px;
text-align: center;

color:black;
font-size: 40px;
font-family: helvetica;
}
.headertextabout {
	background-image: url("../images/bluepeople.jpeg");
	background-size: 100%;
	background-position: 50%25%;
float: right;
height: 105px;
width: 75%;
line-height:105px;
text-align: center;

color:black;
font-size: 40px;
font-family: helvetica;
}
.headertextnews {
	background-image: url("../images/news.jpg");
	background-size: 100%;
	background-position: 50%30%;
float: right;
height: 105px;
width: 75%;
line-height:105px;
text-align: center;

color:black;
font-size: 40px;
font-family: helvetica;
}
.headertextcontact {
	background-image: url("../images/speechbubs.jpg");
	background-size: 100%;
	background-position: 50%60%;
float: right;
height: 105px;
width: 75%;
line-height:105px;
text-align: center;

color:black;
font-size: 40px;
font-family: helvetica;
}
/* Add a black background color to the top navigation */
.topnav {
  font-family: helvetica;
  background-color: #333;
  overflow: hidden;
  position: relative;
  top: 105px;
  z-index: 3;
  padding-right: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-align: center;
}

/* Change the color of links on hover*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}
.dropdown:hover .dropbtn, .dropbtnactive {
  background-color: #ddd;
  color: black;
}
.dropbtnactive {
background-color: red;
color: white;
  float: right;
  font-size: 16px; 
  border: none;
  outline: none;
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position:relative;
  float: right;
  overflow: auto;
}

/* Dropdown button */
.dropdown .dropbtn {
  position:relative;
  float: right;
  font-size: 16px; 
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  
  }
.dropbtn a{
	padding: 0px;
}
.dropbtnactive a{
	padding: 0px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  top: 153px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}
/* The sidebar menu */
.sidebar {
 height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 153px; /* Stay at the top */
  background-color: #333; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
  color: white;
}
.sidebar a{
  
  float:left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 160px;
}
/* This styles the sidebar links*/
.sidebar a:hover {
  float: left;
  background-color: #ddd;
  color: black;
  width: 160px;
  text-align: left;
}
/* This makes sidebar links go grey on hover */
/* Style page content */
.main {

  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 10px 10px;
  position: fixed;
  top: 153px;
  bottom: 45px;
  left:0px;
  right:0px;
  overflow-y: auto;
  z-index: 0;
}
.footer {
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 0px;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 25px;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  z-index: 2;
}
.footer img{
	display:inline-block;
	height: 25px;
	vertical-align: 50%;
	margin-left:25px;
	margin-right:10px;
}
/*This makes the social media links in the footer the right size*/
.footer a{
	display: inline-block;
	font-family: helvetica;
  font-size; 18px;
  color: white;
  vertical-align: 50%;
  line-height: 25px;
}
.footer a:link {
  text-decoration: none;
}
.footer a:visited {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a:active {
  text-decoration: underline;
}
.contactlinks {
	width:100%;
}
.contactlinks img {
	width:25px;
}
/*This makes the social media links on the contact page the right size*/
/*Below formats the google map*/
.mapouter{position:relative;text-align:right;height:500px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
/* Below formats the contact form inputs */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Makes the submit button grey then red on hover */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: red;
}

/* Add a background color and some padding around the form */
.contactform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:600px;
}
/*Below styles the table*/
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
	background-color: white;
}
address {
	font-family:helvetica;
	font-size: 17px;
}/*This styles the article author link*/
article {
	width:auto;
	background-color:white;
	padding: 10px;
	margin:10px;
}/*This styles article text*/

